<!-- This is the section that contains all of the input login elements  -->

<section class="loginWrapper">
	<form action="home.html">
		<input id="username" class="inputText" type="email" placeholder="name.lastname@globant.com" required />
		<input id="password" class="inputText" type="password" placeholder="Password" required />
		<input id="btnSubmit" class="loginBtn" type="submit" value="Login" />
	</form>
</section>

<!-- end of login section -->
